<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="font-family: 'Times New Roman', Times, serif; width: 700px">
      <p
        style="
          font-size: 20px;
          color: rgb(43, 98, 238);
          font-weight: 600;
          margin: 0;
          padding: 0;
        "
      >
        TRUNG TÂM KINH DOANH VNPT CẦN THƠ - VNPT VINAPHONE
      </p>
      <p style="font-size: 15px; margin: 0; padding: 0">
        Địa chỉ: Số 02 Nguyễn Trãi, P. Tân An, Q.Ninh Kiều, TP. Cần Thơ
      </p>
      <p
        style="
          font-size: 15px;
          margin: 0;
          padding: 0;
          font-weight: 600;
          color: rgb(236, 66, 67);
        "
      >
        Holine: 0888517507
      </p>
      <div
        style="
          text-align: center;
          font-size: 20px;
          color: rgb(43, 98, 238);
          font-weight: 600;
          margin: 0;
          padding: 0;
          margin-top: 10px;
        "
      >
        BẢNG BÁO GIÁ DỊCH VỤ CỦA VNPT
      </div>
      <p
        style="
          font-size: 17px;
          font-weight: 600;
          margin: 0;
          padding: 0;
          text-align: center;
        "
      >
        Kính gửi: Quý khách hàng Thành Ý
      </p>
      <p style="margin: 0; padding: 0; font-style: italic; margin-top: 10px">
        Trung tâm kinh doanh VNPT Cần Thơ xin báo giá dịch vụ, chi tiết như sau
        :
      </p>
      <table style="width: 100%; border-collapse: collapse; margin-top: 5px">
        <tr style="border: 1px solid black">
          <th style="border: 1px solid black">STT</th>
          <th style="border: 1px solid black">Sản phẩm</th>
          <th style="border: 1px solid black">Giá tiền</th>
          <th style="border: 1px solid black">VAT(%)</th>
          <th style="border: 1px solid black">Phí VAT</th>
          <th style="border: 1px solid black">Thành tiền</th>
        </tr>
        <tr style="text-align: center; border: 1px solid black">
          <td style="border: 1px solid black">1</td>
          <td style="border: 1px solid black">Sản phẩm 1</td>
          <td style="border: 1px solid black">Giá tiền 1</td>
          <td style="border: 1px solid black">5(%)</td>
          <td style="border: 1px solid black">5.000</td>
          <td style="border: 1px solid black">500000</td>
        </tr>
        <tr style="text-align: center; border: 1px solid black">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Tổng tiền</td>
          <td>500000</td>
        </tr>
      </table>
      <p style="margin: 0; padding: 0; font-weight: 600; margin-top: 5px">
        Báo giá chỉ có hiệu lực đến ngày: 11/01/2023
      </p>
      <p style="margin: 0; padding: 0">
        <span style="font-weight: 600">Ghi chú</span>: Không có ghi chú
      </p>
      <p
        style="
          margin: 0;
          padding: 0;
          color: rgb(43, 98, 238);
          font-weight: 600;
          margin-top: 5px;
        "
      >
        Mọi thông tin chi tiết, vui lòng liên hệ:
      </p>
      <p style="margin: 0; padding: 0; margin-top: 5px">
        <span style="font-weight: 600">Nhân viên</span>: Nguyễn Thanh Thuận -
        Nhân viên CSKH
      </p>
      <p style="margin: 0; padding: 0; margin-top: 5px">
        <span style="font-weight: 600">SĐT</span>: 0866747580 -
        <span style="font-weight: 600">Email</span>: dhaha998@gmail.com
      </p>
    </div>
  </body>
</html>
