<div class="container-fluid w-100 main p-0">
  <div class="header">
    <div class="row header-top justify-content-between">
      <div class="col-3 header-logo header-item">
        <div class="icon-logo"></div>
      </div>
      <div class="col-5 header-search header-item">
        <form
          action=""
          class="row w-100 header-search-form justify-content-center"
        >
          <input type="text" placeholder="Tìm kiếm liên hệ, hoặc khách hàng" />
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <div class="col-3 header-icon header-item justify-content-end">
        <p class="header-icon-item">
          <i class="fa-solid fa-truck-ramp-box"></i>
        </p>
        <p class="header-icon-item">
          <i class="fa-solid fa-bell"></i>
        </p>
        <p class="header-icon-item">
          <i class="fa-solid fa-gear"></i>
        </p>
        <p class="header-icon-item">
          <i class="fa-regular fa-circle-question"></i>
        </p>
        <p class="header-icon-item">
          <img src="./images/avt.png" alt="" />
        </p>
      </div>
    </div>
    <div class="row header-bottom justify-content-start">
      <div class="header-bottom-item header-bottom-item_focus">
        <i class="fa-solid fa-gauge-high"></i>Tổng Quan
      </div>
      <div class="header-bottom-item">
        <i class="fa-solid fa-users"></i>Khách Hàng
      </div>
      <div class="header-bottom-item">
        <i class="fa-solid fa-address-book"></i>Liên Hệ
      </div>
      <div class="header-bottom-item">
        <i class="fa-solid fa-users-line"></i>Nhân Viên
      </div>
      <div class="header-bottom-item">
        <i class="fa-solid fa-box"></i>Sản Phẩm
      </div>
      <div class="header-bottom-item">
        <i class="fa-solid fa-rectangle-list"></i>Dịch Vụ
      </div>
      <div class="header-bottom-item">
        <i class="fa-solid fa-clipboard-check"></i>Đơn Hàng
      </div>

      <div class="header-bottom-item">
        <i class="fa-solid fa-clipboard-check"></i>Báo Giá
      </div>
      <div class="header-bottom-item">
        <i class="fa-solid fa-chart-simple"></i>Báo Cáo
      </div>
    </div>
  </div>
  <div class="toolbar row justify-content-between">
    <p class="col-2 p-0 m-0 toolbar-title">Tất cả dịch vụ</p>
  </div>
  <!-- Main -->
  <div class="container-fluid main-content m-0">
    <div class="row p-0 m-0">
      <div class="col-6 h-100 p-0 m-0 test">
        <p class="form-title">Thêm mới nhóm dịch vụ</p>
        <form action="" class="">
          <div class="row p-0 w-100 justify-content-between insert-form-gr">
            <div class="col-6 d-flex justify-content-start align-items-center">
              <div class="row m-0 p-0 h-100 w-100 align-items-center">
                <div class="col-2 p-0 m-0">
                  <label for="" class="insert-form-label">Tên</label>
                </div>
                <div class="col-10 p-0 m-0">
                  <input type="date" class="insert-form-input" placeholder="" />
                </div>
              </div>
            </div>
            <div class="col-6 d-flex justify-content-start align-items-center">
              <div class="row m-0 p-0 h-100 w-100 align-items-center">
                <div class="col-2 p-0 m-0">
                  <label for="" class="insert-form-label">Thuộc nhóm </label>
                </div>
                <div class="col-10 p-0 m-0">
                  <select name="" id="" class="insert-form-select">
                    <option value="1">Hoạt động</option>
                    <option value="0">Tạm ẩn</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row p-0 w-100 justify-content-between insert-form-gr">
            <div
              class="col-6 d-flex justify-content-start align-items-center"
            ></div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <p class="col-auto p_button bg-danger">Xóa dữ liệu</p>
              <p class="col-auto p_button">Xác nhận</p>
            </div>
          </div>
        </form>
        <p class="form-title">Danh sách dịch vụ</p>
        <table class="table service-table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Thao tác</th>
              <th scope="col">Tên nhóm dịch vụ</th>
              <th scope="col">Trang thái</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>Hoạt động</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>Tạm ẩn</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6 h-100 p-0 m-0 test">
        <p class="form-title">Thêm mới dịch vụ</p>
        <form action="" class="">
          <div class="row p-0 w-100 justify-content-between insert-form-gr">
            <div class="col-6 d-flex justify-content-start align-items-center">
              <div class="row m-0 p-0 h-100 w-100 align-items-center">
                <div class="col-2 p-0 m-0">
                  <label for="" class="insert-form-label">Tên</label>
                </div>
                <div class="col-10 p-0 m-0">
                  <input type="text" class="insert-form-input" placeholder="" />
                </div>
              </div>
            </div>
            <div class="col-6 d-flex justify-content-start align-items-center">
              <div class="row m-0 p-0 h-100 w-100 align-items-center">
                <div class="col-2 p-0 m-0">
                  <label for="" class="insert-form-label">Thuộc nhóm </label>
                </div>
                <div class="col-10 p-0 m-0">
                  <select name="" id="" class="insert-form-select">
                    <option value="1">Hoạt động</option>
                    <option value="0">Tạm ẩn</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row p-0 w-100 justify-content-between insert-form-gr">
            <div class="col-6 d-flex justify-content-start align-items-center">
              <div class="row m-0 p-0 h-100 w-100 align-items-center">
                <div class="col-2 p-0 m-0">
                  <label for="" class="insert-form-label">Trạng thái</label>
                </div>
                <div class="col-10 p-0 m-0">
                  <select name="" id="" class="insert-form-select">
                    <option value="1">Hoạt động</option>
                    <option value="0">Tạm ẩn</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
              <p class="col-auto p_button bg-danger">Xóa dữ liệu</p>
              <p class="col-auto p_button">Xác nhận</p>
            </div>
          </div>
        </form>
        <p class="form-title">Danh sách dịch vụ</p>
        <table class="table service-table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Thao tác</th>
              <th scope="col">Tên nhóm dịch vụ</th>
              <th scope="col">Trang thái</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>Hoạt động</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>Tạm ẩn</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div
    class="container-fluid p-0 m-0 w-100 h-100 insert-form-container"
    id="insert-form-container"
  >
    <form action="" class="insert-form">
      <p class="row m-0 p-o w-100 insert-form-title">Thêm khách hàng</p>
      <div class="row p-0 w-100 justify-content-between insert-form-gr">
        <div class="col-6 d-flex justify-content-start align-items-center">
          <div class="row m-0 p-0 h-100 w-100 align-items-center">
            <div class="col-2 p-0 m-0">
              <label for="" class="insert-form-label">Mã khách hàng</label>
            </div>
            <div class="col-10 p-0 m-0">
              <input
                type="text"
                class="insert-form-input"
                placeholder="Mã tự sinh"
              />
            </div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-start align-items-center">
          <div class="row m-0 p-0 h-100 w-100 align-items-center">
            <div class="col-2 p-0 m-0">
              <label for="" class="insert-form-label">Tên khách hàng</label>
            </div>
            <div class="col-10 p-0 m-0">
              <input type="text" class="insert-form-input" placeholder="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0 w-100 justify-content-between insert-form-gr">
        <div class="col-6 d-flex justify-content-start align-items-center">
          <div class="row m-0 p-0 h-100 w-100 align-items-center">
            <div class="col-2 p-0 m-0">
              <label for="" class="insert-form-label">Ngày sinh</label>
            </div>
            <div class="col-10 p-0 m-0">
              <input type="text" class="insert-form-input" placeholder="" />
            </div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-start align-items-center">
          <div class="row m-0 p-0 h-100 w-100 align-items-center">
            <div class="col-2 p-0 m-0">
              <label for="" class="insert-form-label">Địa chỉ mail</label>
            </div>
            <div class="col-10 p-0 m-0">
              <input type="text" class="insert-form-input" placeholder="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0 w-100 justify-content-between insert-form-gr">
        <div class="col-6 d-flex justify-content-start align-items-center">
          <div class="row m-0 p-0 h-100 w-100 align-items-center">
            <div class="col-2 p-0 m-0">
              <label for="" class="insert-form-label">Số điện thoại</label>
            </div>
            <div class="col-10 p-0 m-0">
              <input type="text" class="insert-form-input" placeholder="" />
            </div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-start align-items-center">
          <div class="row m-0 p-0 h-100 w-100 align-items-center">
            <div class="col-2 p-0 m-0">
              <label for="" class="insert-form-label">Mã số thuế</label>
            </div>
            <div class="col-10 p-0 m-0">
              <input type="text" class="insert-form-input" placeholder="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0 w-100 justify-content-between insert-form-gr">
        <div class="col-6 d-flex justify-content-start align-items-center">
          <div class="row m-0 p-0 h-100 w-100 align-items-center">
            <div class="col-2 p-0 m-0">
              <label for="" class="insert-form-label">Địa chỉ nơi ở</label>
            </div>
            <div class="col-10 p-0 m-0">
              <input type="text" class="insert-form-input" placeholder="" />
            </div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-start align-items-center">
          <div class="row m-0 p-0 h-100 w-100 align-items-center">
            <div class="col-2 p-0 m-0">
              <label for="" class="insert-form-label">Địa chỉ giao hàng</label>
            </div>
            <div class="col-10 p-0 m-0">
              <input type="text" class="insert-form-input" placeholder="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0 w-100 justify-content-between insert-form-gr">
        <div class="col-6 d-flex justify-content-start align-items-center">
          <div class="row m-0 p-0 h-100 w-100 align-items-center">
            <div class="col-2 p-0 m-0">
              <label for="" class="insert-form-label">Hạn mức tín dụng</label>
            </div>
            <div class="col-10 p-0 m-0">
              <input type="text" class="insert-form-input" placeholder="" />
            </div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-start align-items-center">
          <div class="row m-0 p-0 h-100 w-100 align-items-center">
            <div class="col-2 p-0 m-0">
              <label for="" class="insert-form-label">Số ngày hạn mức</label>
            </div>
            <div class="col-10 p-0 m-0">
              <input type="text" class="insert-form-input" placeholder="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0 w-100 justify-content-between insert-form-gr">
        <div class="col-6 d-flex justify-content-start align-items-center">
          <div class="row m-0 p-0 h-100 w-100 align-items-center">
            <div class="col-2 p-0 m-0">
              <label for="" class="insert-form-label">Giới tính</label>
            </div>
            <div class="col-10 p-0 m-0">
              <select name="" id="">
                <option value="nam">Name</option>
                <option value="nu">Nữ</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-0 w-100 justify-content-end insert-form-gr">
        <p class="col-auto p_button bg-danger">Xóa dữ liệu</p>
        <p class="col-auto p_button bg-danger" id="btn_close_forminsert">
          Đóng
        </p>
        <p class="col-auto p_button">Xác nhận</p>
      </div>
    </form>
  </div>
  <!-- End Main -->
</div>
