<div class="login-container">
  <div class="login-form-container">
    <div class="image">
      <img src="./images/customer2.jpg" alt="" />
    </div>
    <form action="" class="login-form">
      <p class="form-item-header">CRM LOGIN</p>
      <div class="form-item">
        <div class="form-item-icon">
          <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="form-item-input">
          <input type="text" placeholder="Email" />
        </div>
      </div>
      <div class="form-item">
        <div class="form-item-icon">
          <i class="fa-solid fa-lock"></i>
        </div>
        <div class="form-item-input">
          <input type="password" placeholder="Password" />
        </div>
      </div>
      <div class="form-item-link"><a href="/">Forgot password?</a></div>
      <div class="form-item-button">
        <button>LOGIN</button>
      </div>
    </form>
  </div>
</div>
